@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600&display=swap");

:root {
  --color-primary1: #f607a2;
  --color-primary1-light: rgba(175, 11, 115, 0.153);
  --color-primary2: #e09628;
  --color-primary1-hover: #930862;
  --color-text: #2e2e2e;
  --color-text-light: #2e2e2eb7;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Alexandria", sans-serif;
  line-height: 1.7;
  background-image: url(../src/assets/bg-texture.png);
  color: var(--color-text);
}

/* ================== GENERAL STYLES ================== */
.container {
  width: 95%;
  margin: 0 auto;
  padding: 0 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-text-light);
}

section > h2 {
  color: var(--color-primary2);
  margin-bottom: 1rem;
}

.text-light {
  color: var(--color-text-light);
}

a {
  color: var(--color-primary1);
  transition: var(--transition);
}

a:hover {
  color: var(--color-text);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary1);
  padding: 0.75rem 1.2rem;
  border: 1px solid var(--color-primary1);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-primary1-hover);
  color: white;
  border-color: transparent;
}

.btn-primary {
  background-color: var(--color-primary1);
  border: 1px solid var(--color-primary1);
  color: white;
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
}

.btn-primary:hover {
  background-color: var(--color-primary1-hover);
  color: white;
  border: 1px solid transparent;
}
